<div class="registro">
    <div class="divLog">
        <form id="mailPassForm">
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <br>
            <div>
                <input type="submit" value="Enviar mail para generar nueva contraseña">
            </div>
            <div>
                <label id="msjErrorReset" class="error-message"></label>
            </div>
    </div>
    </form>
</div>
<script src="/js/mailPassManager.js"></script>