<div class="registro">
    <div class="divLog">
        <form id="resetPassForm">
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="password">Nueva Contraseña:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <br>
            <div>
                <input type="submit" value="Guardar Nueva Contraseña">
            </div>
            <div>
                <label id="msjErrorReset" class="error-message"></label>
            </div>
    </div>
    </form>
</div>
<script src="/js/resetManager.js"></script>